<h5>Styles with property binding (style binding)</h5>

<button
  [style.backgroundColor]="active ? 'blue' : 'gray'"
  [style.color]="active ? 'white': 'black'"
  [style.fontWeight]="active ? 'bold': 'normal'"
  [style.fontSize]="fontSize + 'px'"
  (click)="onClick()">
  Change attribute active
</button>
<br>
<input type="text" [value]="fontSize" (keyup)="onChange($event)"/>
<br>

<h5>Styles with ngStyle</h5>
<button
  [ngStyle]="{
    'backgroundColor': active ? 'blue' : 'gray',
    'color': active ? 'white': 'black',
    'fontWeight': active ? 'bold': 'normal',
    'fontSize': fontSize+'px'
  }"
  (click)="onClick()">
  Change attribute active
</button>
