<h5>NgIf</h5>
<div *ngIf="courses.length > 0">
  List of courses.
</div>
<div *ngIf="courses.length == 0">
  No courses to be listed.
</div>
<div *ngIf="showCourses">
  List of courses here.
</div>
<div *ngIf="!showCourses">
  No courses to de shown.
</div>

<br>
<button (click)="onShowCourses()">Show or hide courses</button>

<br>
<div [hidden]="!showCourses">
  List of courses here.
</div>
<div [hidden]="showCourses">
  No courses to de shown.
</div>

<br><br>

<h2>Removing the * and using template</h2>
<div *ngIf="showCourses">
  List of courses here.
</div>

<template [ngIf]="showCourses">
  <div>List of courses here.</div>
</template>
