<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 login-container">

      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="row users-form-group">
          <label for="login" class="col-md-3 col-md-offset-2 users-form-element">Login:</label>
          <input type="text" class="col-md-5" id="login" formControlName="login">
        </div>
        <br>
        <div class="row users-form-group">
          <label for="password" class="col-md-3 col-md-offset-2 users-form-element">Password:</label>
          <input type="password" class="col-md-5" id="password" formControlName="password">
        </div>

        <div class="row users-form-group">
          <div class="col-md-3 col-md-offset-3 users-form-element">
            <button (click)="setOnSignUp(false)"
                    class="users-btn-default" [disabled]="!formLogin.valid">Sign In</button>
          </div>
          <div class="col-md-3 users-form-element">
            <button (click)="setOnSignUp(true)"
              class="users-btn-default  pull-right" [disabled]="!formLogin.valid">Sign Up</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-4 teste">-->
      <!--<div class="row">-->
        <!--<div class="col-md-1 preto">p</div>-->
        <!--<div class="col-md-1 azulinar">a</div>-->
        <!--<div class="col-md-1 preto">p</div>-->
        <!--<div class="col-md-1 azulinar">a</div>-->
        <!--<div class="col-md-1 preto">p</div>-->
        <!--<div class="col-md-5 azulinar">a</div>-->
        <!--<div class="col-md-1 preto">p</div>-->
        <!--<div class="col-md-1 azulinar">a</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

<!--</div>-->
